<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382325278032-gknoje60lhvpf4evrjc57hdftq8oiq6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382325278032-gknoje60lhvpf4evrjc57hdftq8oiq6i</string>
	<key>API_KEY</key>
	<string>AIzaSyAjvxd2zfTSzUulWqXr_w2hQCFCf6dMIRY</string>
	<key>GCM_SENDER_ID</key>
	<string>382325278032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cristinabolohan.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-ios-e757d</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-ios-e757d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382325278032:ios:ac46aedc36ecc510e35855</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-ios-e757d.firebaseio.com</string>
</dict>
</plist>